.form{
    position: absolute;
    bottom: 0;
    background-color: #BBEE9B;
    width: 70%;
    height: 7vh;
    display: flex;
    
}
.form input{
    width: 90%;
    position: absolute;
    bottom: 0;
    top: 0;
    outline: none;
    padding-left: 50px;
}
.emoji{
    display: flex;
    position: absolute;
    z-index: 5;
  
    bottom: 0;

    
}